<div class="row">
	<div class="col-sm-4">
		<button 
			type="button" 
			(click)="onResetMatch()"
			class="btn btn-lg btn-primary btn-block">
			Start again
		</button>
	</div>
	<div class="col-sm-8" *ngIf="winner.id">
		<div class="alert alert-success" role="alert">
		  {{winner.name}} won
		</div>
	</div>
	<div class="col-sm-8" *ngIf="!winner.id && history.length >0">
		<div class="alert alert-warning" role="alert">
		  Match equal
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<h2>{{playerLeft.name}}</h2>
	</div>
	<div class="col-sm-4">
		<h2>{{playerRight.name}}</h2>
	</div>
	<div class="col-sm-4">
		<h4>Results</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<button 
			type="button" 
			*ngFor="let item of items"
			[class.btn-info]="item === playerLeft.item"
			[class.btn-outline-info]="item !== playerLeft.item"
			(click)="onSelectItem(item)"
			class="btn btn-lg btn-block">
			{{item.name}}
		</button>
	</div>
	<div class="col-sm-4" *ngIf="playerRight.item.id">
		<button 
			type="button"
			*ngFor="let item of items"
			[class.btn-danger]="item === playerRight.item"
			[class.btn-outline-danger]="item !== playerRight.item"
			class="btn btn-lg btn-block">
			{{item.name}}
		</button>
	</div>
	<div class="col-sm-4" *ngIf="history.length">
		<ul class="list-group">
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    {{playerLeft.name}}
		    <span class="badge badge-primary badge-pill">{{getTotalMatchesWinner(playerLeft)}}</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
		    {{playerRight.name}}
		    <span class="badge badge-primary badge-pill">{{getTotalMatchesWinner(playerRight)}}</span>
		  </li>
		</ul>
	</div>
</div>
<div class="row" *ngIf="history.length > 0">
	<div class="col-sm-12">
		<h2>Match Logs</h2>
	</div>
	<div class="col-sm-4" *ngFor="let log of history, let i = index">
		<div class="alert alert-secondary" role="alert">
			{{i+1}} - 
	  		<span *ngIf="log.winner.id">{{log.winner.name}} won</span>
	  		<span *ngIf="!log.winner.id">Match Equal</span>
		</div>
	</div>
</div>
