<div class="panel panel-primary">
	<div class="panel-heading" *ngIf="!selectedType"><h3>Select match type</h3></div>
	<div class="panel-heading" *ngIf="selectedType"><h3>Select your item</h3></div>
	<div class="panel-body">
		<div class="row" *ngIf="!selectedType">
			<div class="col-sm" *ngFor="let type of matchTypes">
		 		<button 
		 			type="button" 
		 			class="btn btn-primary btn-lg btn-block"
		 			(click)="onSelectType(type)"
		 			[class.disabled]="type.disabled">
		 			{{type.name}}
		 		</button>
			</div>
		</div>
		<div class="row" *ngIf="selectedType">
			<div class="col-sm">
		 		<app-match></app-match>
			</div>
		</div>
	</div>
</div>